<!DOCTYPE html>
<html>
    <head>
        <title>WebSocket Stream</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    </head>
    <body>
        <div id="output"></div>

        <script type="text/javascript">
            var socket = io();
            var output = document.getElementById('output');
            
            socket.on('number', function(data) {
                var paragraph = document.createElement('p');
                paragraph.textContent = data.num;
                output.appendChild(paragraph);
            });
        </script>
    </body>
</html>
